.font-14 {
	-fx-font-size: 14px;
}

.font-16 {
	-fx-font-size: 16px;
}

.font-18 {
	-fx-font-size: 18px;
}

.msgBg {
	-fx-background-color:#ffffff
}

.btnCommon {
	-fx-background-color:#f7f7f7;
	-fx-border-color:#dbdedd;
	-fx-border-width:1px;
}

.btnCommon:hover {
	-fx-background-color:#dbdedd;
}